.title {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 100px;
  text-align: center;
}

.content {
  display: flex;
  align-items: center;
  gap: 100px;
}

.imgContainer {
  flex: 1;
  height: 500px;
  position: relative;
}

.img {
  object-fit: contain;
  animation: 4s linear 0s infinite alternate move;
}

@keyframes move {
    /* it means it move from -20px and it will take 3sec to initial position 0px */
    from {
        /* pushes the image past the viewport */
        transform: translateY(-20px);
      }
      to {
        /* returns the image to its default position */
        transform: translateY(0) scale(1.02);
      }
    }

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input,
.textArea {
  padding: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  border: 3px solid white;
  font-size: 20px;
  font-weight: bold;
}
